<% include partials/header %>
<h1>This is places page!</h1>

<% places.forEach(function(place){ %>
    <div>
        <h4><%= place.name%></h4>
        <!--for img src attribute we use '<'%'%'>' inside quotes"", cause workable issue in such cases-->
        <img src="<%= place.image %>" 
    </div>
    
<% }); %>

<% include partials/footer %>