<% include partials/header %>
    
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Welcome to Places!</h1>
                <p>View our astound Places from all over the world and start yours Journey</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/places/new">Add Places</a>
                </p>
            </div>
        </div>


    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% places.forEach(function(place){ %>
            <div class="col col-lg-3 col-md-6">
                <div class="img-thumbnail">
                    <!--for img src attribute we use '<'%'%'>' inside quotes"", cause workable issue in such cases-->
                    <img class="img-responsive" src="<%= place.image %>">
                    <div class="caption">
                        <h4><%= place.name%></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
 
    </div>

<% include partials/footer %>