

.thumbnail{
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 7px;
}

.delete-form {
    display: inline;
}

.footer {
        position: relative;
        height: 300px;
        width: 100%;
    }

.copyright {
        position: absolute;
        width: 100%;
        color: #000;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
        bottom:0;
}